  @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Mukta:wght@400;500;600;700&display=swap');

  body{
    color: white;
    font-family: 'Mukta', sans-serif;
    background-color: rgb(40,40,40);
  }